.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(7px + 1vmin);
    justify-content: center;
    border: black 2px solid;
    max-height: 150px;
    height: 100%;
    color: lightseagreen;
}

.link-header{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.button-header{
    margin: 20px;
}

.img{
    width: 100px;
    height: 100px;
}