.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    background-color: bisque;
}

.link-header{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.button-header{
    margin: 20px;
}

.img{
    width: 130px;
    height: 120px;
}